<head>
    <title>Simple Chat App</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        var MyRooms = '<%= MyRooms %>';
    </script>
    <style>@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;500&display=swap'); body { font-family: 'Red Hat Display' };</style>
</head>
<body>
    <div class="flex flex-col items-center space-y-4 mt-48">
        <div class="text-6xl pb-12">Simple Chat App!</div>

        <div class="flex flex-col items-center">
            <div class="text-4xl mb-12">Rooms</div>
            <ul class="flex flex-col space-y-4">
                <% if(MyRooms.rooms.length == 0){ %>
                    <div class="text-2xl">There is no room. It's <span class="text-red-700">boring.</span></div>
                  <% } else{ %>  
                    <% MyRooms.rooms.forEach((room) => {%>
                        <li>
                            <div class="flex flex-row space-x-4">
                                <div class="text-lg">Room Id:</div>
                                <div class="text-lg text-blue-600"><%= room.roomId %></div>
                            </div>
                            <div class="flex flex-row space-x-4">
                                <div class="text-lg">User count:</div>
                                <div class="text-lg text-blue-600"><%= room.users.length %></div>
                            </div>
                            <div class="flex flex-row space-x-4">
                                <div class="text-lg justify-self-end">Join Link:</div>
                                <a class="text-lg text-blue-600" href="<%= room.joinURL %>"><%= room.joinURL %></a>
                            </div>
                        </li>
                    <% }); %>
                <% } %>
            </ul>
            <div class="flex flex-col items-center space-y-8 mt-24">
                <div class="text-4xl">Create Room</div>
                <div class="text-2xl">You can create a unique room. Just press the button.</div>
                <button onclick="window.location.replace(`createRoom`);" class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded">Create Room</button>
            </div>
        </div>
    </div>
</body>
